@import "global.css";
@import "main.css";

.web-form {
  width: 75%;
  position: relative;
  margin: auto;
  background-color: #fffffd;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.web-form div {
  margin-top: 10px;
}

#age {
  width: 100px;
}
#date {
  width: 150px;
}

#custom {
  margin-top: 5px;
  display: none;
}

.radio,
.checkbox {
  width: 20px !important;
  height: 20px !important;
}

#about-you {
  width: 50%;
  height: 100px;
}

.submit {
  border-color: var(--secondaryColor) !important;
  color: white !important;
  background-color: var(--secondaryColor) !important;
}

.submit:hover {
  border-color: black !important;
  background-color: black !important;
  color: white !important;
}

.form-check-input {
  margin-top: 5px;
}
